<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="jdbc5">

	<select id="selectMaxId" resultType="int">
		select nvl(max(lprod_id),0)+1 maxId from lprod
	</select>

	
	<select id="selectCount" resultType="int" parameterType="String">
		select count(*) cnt from lprod where lprod_gu=#{lprod_gu}
	</select>

	<insert id="insertLprod" parameterType="lprodVo">
		insert into lprod(lprod_id, lprod_gu, lprod_nm)
		values (#{lprod_id}, #{lprod_gu}, #{lprod_nm})
	</insert>






</mapper>